@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.App {
  text-align: center;
}
html {
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  font-family: 'Caveat', cursive !important;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.flexbox {
  display: grid;

  grid-template-rows: masonry;
  gap: 30px;
}
.bg-nasa {
  background-image: url('https://images.unsplash.com/photo-1504333638930-c8787321eee0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80');
  min-height: 100vh;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
